@import "style";
@import "mixins";
@import "variables";
@import "components/structure";
@import "components/list";
@import "components/input";
@import "components/layout";
@import "components/toolbar";
@import "components/button";
@import "components/typography";

/*@import "scss/variables.scss";
$fa-font-path: "";

@import "scss/path.scss";*/
html, body {
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
  background: #c1c1c1;
  position: relative;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0; }
