@import "angular-material.scss";
/*@import "scss/variables.scss";
$fa-font-path: "";

@import "scss/path.scss";*/
html, body {
  height: 100%;
  color: rgba(0, 0, 0, 0.87);
  background: #f0f0f0;
  position: relative;
  font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0; }
